@use "../variables" as var;
@use "../mixins" as mixin;

.carousel {
  width: 100%;
  height: 415px;
  object-fit: cover;
  border-radius: 25px;
  @include mixin.mobile-screen {
    height: var.$mobile-pic-height;
  }
}

.carousel-container {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
}

.carousel-left-panel, .carousel-right-panel {
  position: absolute;
  margin: 0 1em;

  & img {
    cursor: pointer;
    @include mixin.mobile-screen {
      height: 1em;
    }
  }
}

.carousel-right-panel {
  right: 0;
}