@use "../mixins" as mixin;

.dropdown- {
  &title {
    @include mixin.whitetext-on-redbackground;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 26px;
    padding: 15px 1em;
    border-radius: 10px;
    cursor: pointer;
  }
  &content {
    background-color: #f6f6f6;
    border-radius: 0 0 10px 10px;
    height: 100%;
    padding: 1em;
    line-height: 26px;
    margin-top: 0;
    & ul {
      list-style: none;
      padding-left: 0;
    }
  }
  &hidden {
    display: none;
  }
  &visible {
    display: block;
  }
  &chevron {
    height: 100%;
  }
}
