@use "../mixins" as mixin;

footer {
  background-color: black;
  color: white;
  min-height: 10em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3em;

  @include mixin.mobile-screen {
    & img {
      height: 20%;
    }
    font-size: 12px;
    
  };
}
