@use "../mixins" as mixin;

.tag {
  @include mixin.whitetext-on-redbackground;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 20px;
  border-radius: 10px;
  min-width: 100px;
  height: 25px;
  padding: 0 15px;
  cursor: default;

  @include mixin.mobile-screen {
    font-size: 10px;
    min-width: 84px;
    height: 18px;
    padding: 0 5px;
  }
}
