@use "./variables" as var;
@use "./mixins" as mixin;


header,
main {
  margin: 3em 5em;
  @include mixin.mobile-screen {
    margin: 1em;
  }
  color: var.$main-color;
}

body {
  font-family: Montserrat, Arial, Helvetica, sans-serif;
}

// Keeps the footer at the bottom of pages
html,
body {
  height: 100vh;
  & #root {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  & main {
    flex: 1 0 auto;
  }
}
